body {
    background-image: url(images/background-image.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: whitesmoke;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vw;
    margin: 0;
}